<p>This is the partial for available plugins.</p>
<div ng-repeat="plugin in plugins">
    <p ng-if="!plugin.installed">{{plugin.name}} | 
        versions: {{plugin.version}} | 
        <button type="button" ng-click="preInstall(plugin)">Install</button>
    </p>
</div>

<div ng-show="installQueue.length">
    <li ng-repeat="prepareInstall in installQueue">
        {{prepareInstall.name}}
        <button type="button" ng-click="delPreInstall(prepareInstall)">Remove</button><br>
    </li>
    <button type="button" ng-click="UncheckAllInstallQueue()">Cancel</button>
    <button type="button" ng-click="install(installSelected)">Install</button>
</div>

<!-- <p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p> -->
