<div layout="row">
  <section flex="70">
    <md-subheader class="md-no-sticky">Available PlugIn Lists</md-subheader>
    <md-list ng-repeat="plugin in plugins">
      <md-card ng-if="!plugin.installed">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{plugin.name}}</span>
            <span class="md-subhead">versions: {{plugin.version}}</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-md card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-click="preInstall(plugin)">Install</md-button>
        </md-card-actions>
      </md-card>     
    </md-list>
  </section>

  <section ng-show="installQueue.length" flex="30"> 
        <md-toolbar class="md-theme-light">
          <h1 class="md-toolbar-tools">Ready To Install</h1>
        </md-toolbar>
        <md-content layout-padding> <!-- ng-controller="RightCtrl" -->
          <li ng-repeat="prepareInstall in installQueue">
            {{prepareInstall.name}}
            <md-button ng-click="delPreInstall(prepareInstall)">Remove</md-button><br>
          </li>
          <md-button ng-show="installQueue.length" ng-click="UncheckAllInstallQueue()">Cancel</md-button>
          <md-button ng-show="installQueue.length" ng-click="install(installSelected)">Install</md-button>
        </md-content>
      </md-sidenav>
  </section>
</div>

<!-- <p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p> -->
